<main>

  <app-breadcrumbs></app-breadcrumbs>

  <section aria-labelledby="stay-on-track">
    <app-article ngSkipHydration>
      <h2 slot="title">Stay on Track</h2>
      <div>
        Do you know where you are spending your money? With proper budget tracking,
        you can achieve financial stability and reach your goals.
      </div>
    </app-article>
  </section>

  <section aria-labelledby="alerts">
    <app-article ngSkipHydration>
      <h2 slot="title">Alerts</h2>
      <div>
        Stay updated with alerts if you're about to exceed your set budget. Never spend beyond your means.
      </div>
    </app-article>
  </section>

  <section aria-labelledby="results">
    <app-article ngSkipHydration>
      <h2 slot="title">Results</h2>
      <div>
        Budgeting helps you get out of debt faster and live a guilt-free, happier life.
        Spend with confidence!
      </div>
    </app-article>
  </section>

  <section aria-labelledby="free">
    <app-article ngSkipHydration>
      <h2 slot="title">Free</h2>
      <div>
        Enjoy a free app where you are in full control of your data. Start budgeting today!
      </div>
    </app-article>
  </section>

  <section aria-labelledby="chart">
    <app-article ngSkipHydration>
      <h2 slot="title">Chart</h2>
      <canvas id="myChart" width="400" height="400" aria-label="Budget Chart" role="img"></canvas>
    </app-article>
  </section>

  <section>
    <h2 style="text-align: center;">D3.js Bar Chart</h2>
    <div #d3Chart style="width: 100%; height: 400px;"></div>
  </section>
</main>
